@import './base.css';

body {
  background-size: cover;
  user-select: none;
}

#header-component {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.header-logo-container > img,
.header-logo-container > h1 {
  padding: 20px;
  font-weight: bold;
  font-size: 2rem;
  color: var(--ba-text-white);
}

.header-logo-container > h1 {
  width: 30%;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-contents {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-container h2 {
  font-weight: bold;
}

.form-field-container {
  margin: 5px;
}

.tab-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-tabs__tab {
  background-color: #ddd;
  margin: 0 0.5px;
}

.react-tabs__tab-panel {
  width: 100vw;
}

.react-tabs__tab-list {
  margin: 0 !important;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 1vw 1vw;
  border: 2px solid var(--ba-border-grey);
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: var(--ba-table-bg);
  font-weight: bold;
}

tr {
  font-size: 1.1rem;
}

tr:hover {
  background-color: #f1f1f1;
}

.active-table-cell {
  background-color: var(--ba-button-green);
}

.inactive-table-cell {
  background-color: var(--ba-button-red);
}

/* MEDIUM SCREENS */
@media (max-width: 1200px) {
  tr {
    font-size: 0.9rem;
  }
}

/* SMALL SCREENS */
@media (max-width: 620px) {
}

/* MOBILE SMALL SCREENS */
@media (max-width: 350px) {
}
