@import './base.css';

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* overflow: hidden; */
  background-size: cover;
  user-select: none;
}

#header-component {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.header-logo-container > img,
.header-logo-container > h1 {
  padding: 20px;
  font-weight: bold;
  font-size: 2rem;
  color: var(--ba-text-white);
}

.header-logo-container > h1 {
  width: 30%;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-contents {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-container h2 {
  font-weight: bold;
}

.form-field-container {
  margin: 5px;
}

/* MEDIUM SCREENS */
@media (max-width: 720px) {
}

/* SMALL SCREENS */
@media (max-width: 620px) {
}

/* MOBILE SMALL SCREENS */
@media (max-width: 350px) {
}
